/* universal selector start*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* universal selector close*/
body {
  max-width: 1140px;
  margin: 0 auto;
}
/* common styles start */
.container {
  max-width: 1140px;
}
.full-width {
  max-width: 1440px;
}
.flex {
  display: flex;
}
.intr {
  font-family: "Inter", sans-serif;
}
.noto-serif {
  font-family: "Noto Serif", serif;
}
.mb {
  margin-bottom: 120px;
}
.pt {
  padding-top: 120px;
}
.f-22 {
  font-size: 1.375rem;
}
.center {
  text-align: center;
}
/* common styles close */

/* header part style start */
nav {
  justify-content: space-between;
  align-items: center;
}
.menu-bar ul {
  list-style: none;
  display: flex;
  gap: 3.125rem;
}
.menu-bar ul li {
  padding: 20px 0;
}
.menu-bar ul li a {
  text-decoration: none;
  color: #8987a1;
}
#first-child,
#last-child {
  color: #252432;
  font-weight: 500;
}
/* header part style close */
/* banner part start */
.banner-part {
  height: 461px;
  align-items: end;
}
.banner-info {
  max-width: 570px;
}
.banner-info h1 {
  font-size: 4.0625rem;
  color: #e95a08;
}
.banner-info p {
  font-size: 1.375rem;
  color: #000000;
  opacity: 50%;
}
.banner-info h1 span {
  color: #000000;
}
.banner-img img {
  display: block;
}
/* banner part close */
/* banner card part start */
.banner-card-info h1 {
  font-size: 3.125rem;
  text-align: center;
}
.banner-card-info span {
  color: #e95a08;
}
.banner-card-info p {
  text-align: center;
  font-size: 1.375rem;
  color: #000000;
  opacity: 50%;
  padding: 15px 127px 0 127px;
}
.card-wrapper {
  margin-top: 50px;
}
.full-card {
  font-weight: bold;
  width: 270px;
}
.full-card h1 {
  margin: 13px 0 15px 0;
  font-weight: 500;
}
.full-card input {
  padding: 17px 89.7px;
  background-color: #e95a08;
  color: white;
  border: none;
  font-weight: 500;
  margin-top: 25px;
}
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
}
/* banner card part close */
/* plant lover section start */
.plant-lover {
  gap: 70px;
}
.plant-lover-img {
  position: relative;
}
#sticker {
  position: absolute;
  width: 286px;
  height: 286px;
  left: 65%;
  top: -21%;
}
.plant-lover-info {
  padding: 36px 0;
}
.plant-lover-info ul {
  margin-left: 41px;
}
.plant-lover-info h1 {
  font-size: 3.125rem;
}
.plant-lover-info ul li {
  padding-top: 30px;
  opacity: 50%;
}
/* plant lover section close */
/* responsive style for mobile */
@media (width <576px) {
  header {
    padding: 10px;
  }
  .menu-bar ul li:nth-child(-n + 3) {
    display: none;
  }
  .banner-part {
    flex-direction: column-reverse;
    height: auto;
    margin-bottom: 60px;
    padding: 10px;
  }
  .banner-info {
    width: 100%;
    padding: 30px 15px 0 15px;
  }
  .banner-img img {
    width: 100%;
  }
  .banner-info h1 {
    font-size: 1.5rem;
  }
  .banner-info p {
    font-size: 14px;
  }
  .banner-card {
    margin-bottom: 20px;
    padding: 10px;
  }

  .banner-card-info h1 {
    font-size: 1.5rem;
  }
  .banner-card-info p {
    font-size: 0.875rem;
    padding: 0;
  }
  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
  .full-card {
    width: 170px;
  }
  .full-card img {
    width: 170px;
    height: 196px;
  }
  .full-card h1 {
    font-size: 1rem;
    margin: 10px 0 5px 0;
  }
  .full-card h3 {
    font-size: 1rem;
  }
  .full-card input {
    padding: 15px 40px;
    margin-top: 15px;
  }
  #sticker {
    display: none;
  }
  .plant-lover {
    flex-direction: column;
    padding: 10px;
  }
  .plant-lover-info h1 {
    font-size: 1.5rem;
  }
  .plant-lover-img img {
    width: 100%;
  }
  .plant-lover-info {
    padding: 0;
  }
  .plant-lover-info ul {
    font-size: 0.875rem;
  }
  .plant-lover-info ul li {
    padding-top: 10px;
  }
  .plant-lover {
    padding-top: 0;
    gap: 10px;
  }
}
